.offline-indicator {
    position: fixed;
    top: 0;
    background: var(--red-500);
    color: white;
    text-align: center;
    font: var(--sm);
    z-index: 4;
    left: calc(50% - 75px);
    width: 150px;
    padding: 4px;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}