.tooltip {
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    background-color: var(--neutral-800);
    color: var(--neutral-50);
    border-radius: 50px;
    font: var(--sm);
    max-width: 300px;
    word-wrap: break-word;
    box-shadow: var(--shadow-4);
    pointer-events: none;
    opacity: 0;
    transform: translateY(-8px);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }

    div {
        background-color: var(--neutral-700);
        color: var(--neutral-300);
        border-radius: 4px;
        padding: 0px 4px;
        margin-left: 10px;
        font-size: 12px;
        border: 1px solid var(--neutral-500);
        font-weight: 600;
    }
}