.notes-gallery {
    margin-left: 12px;

    .image-gallery {
        position: relative;
        width: 100%;
        box-sizing: border-box;

        .image-gallery-item {
            position: absolute;
            margin: 0;
            box-sizing: border-box;
            object-fit: cover;
            border-radius: 4px;
            transition-property: box-shadow, opacity;
            transition-duration: 500ms;
            box-shadow: var(--shadow-2);
            opacity: 0;
            cursor: pointer;

            &.loaded {
                opacity: 1;
            }

            &:hover {
                box-shadow: var(--shadow-4);
            }
        }

        .image-gallery-empty-text {
            font: var(--sm);
            padding: 16px;
            color: var(--neutral-400);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 64px;
        }
    }
}

.lightbox {
    max-width: 95vw;
    max-height: 95vh;
    overflow: hidden;
    background-color: transparent;
    border: none;
    box-shadow: none;
    animation-duration: 0.1s;

    .lightbox-image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .lightbox-image {
            max-width: 95vw;
            max-height: 95vh;
            width: auto;
            height: auto;
            object-fit: contain;
            border-radius: 4px;

            &.zoomable {
                cursor: zoom-in;
            }
        }
    }

    &.zoomed {
        max-width: 80vw;
        max-height: 95vh;
        overflow-y: auto;
        overflow-x: hidden;

        .lightbox-image-container {
            align-items: flex-start;
            justify-content: center;
            min-height: 100%;

            .lightbox-image {
                width: 80vw;
                max-width: 80vw;
                max-height: none;
                height: auto;
                object-fit: contain;

                &.zoomable {
                    cursor: zoom-out;
                }
            }
        }
    }
}