{{define "notes_list"}}
    <div class="notes-list-fragment" hx-get={{.RefreshLink}} hx-trigger="note_changed from:body" hx-swap="outerHTML">
        {{template "notes_list_toolbar"}}
        <div class="notes-list">
            <!-- <div class="notes-list-title">{{.Title}}</div> -->
            {{range .Notes}}
                <div class="notes-list-item">
                    <a
                        href="/notes/{{.NoteID}}"
                        hx-get="/notes/{{.NoteID}}"
                        hx-push-url="/notes/{{.NoteID}}"
                        hx-trigger="click"
                        hx-target=".notes-editor-container"
                        hx-swap="innerHTML"
                    >
                        {{if eq .Title ""}}
                            <div class="notes-list-item-title untitled">Untitled</div>
                        {{else}}
                            <div class="notes-list-item-title">{{.Title}}</div>
                        {{end}}
                        <div class="notes-list-item-subcontainer">
                            <div class="notes-list-item-subtext">{{.UpdatedAt.Format "2006/01/02"}}</div>
                            <div class="notes-list-item-tags">
                                {{range .Tags}}
                                    <div class="notes-list-item-subtext">{{.Name}}</div>
                                {{end}}
                            </div>
                        </div>
                    </a>
                </div>
            {{end}}
            {{if not .Notes}}
                <div class="notes-list-empty-text">No notes found</div>
            {{end}}
        </div>
    </div>
{{end}}