<!DOCTYPE html>
<html lang="en">
    {{template "head" "Zen"}}

    <body>
        <div class="page-container">
            <div class="sidebar-container" data-page="{{.Page}}">
                {{template "sidebar" .Sidebar}}
            </div>
            {{if eq .NotesList.ViewPreference "list"}}
                <div class="notes-list-container" data-page="{{.Page}}">
                    {{template "notes_list" .NotesList}}
                </div>
            {{else}}
                <div class="notes-list-container grid" data-page="{{.Page}}">
                    {{template "notes_grid" .NotesList}}
                </div>
            {{end}}
            <div class="notes-editor-container {{if eq .Editor.IsHidden true}}is-hidden is-floating{{end}}" data-page="{{.Page}}">
                {{template "notes_editor" .Editor}}
            </div>
        </div>

        <div class="mobile-navbar-container">
            <div class="mobile-navbar">
                <a class="mobile-navbar-button" href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-files">
                        <path d="M20 7h-3a2 2 0 0 1-2-2V2" />
                        <path d="M9 18a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h7l4 4v10a2 2 0 0 1-2 2Z" />
                        <path d="M3 7.6v12.8A1.6 1.6 0 0 0 4.6 22h9.8" />
                    </svg>
                    Notes
                </a>
                <a class="mobile-navbar-button" href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search">
                        <circle cx="11" cy="11" r="8" />
                        <path d="m21 21-4.3-4.3" />
                    </svg>
                    Search
                </a>
                <a class="mobile-navbar-button" hx-trigger="click" href="/notes/new" hx-get="/notes/new" hx-push-url="/notes/new" hx-target=".notes-editor-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus">
                        <circle cx="12" cy="12" r="10" />
                        <path d="M8 12h8" />
                        <path d="M12 8v8" />
                    </svg>
                    New
                </a>
            </div>
        </div>

        <div class="dialog-container"></div>
    </body>
</html>