/* commons/components/Toast.css */
.toast-root {
  position: fixed;
  bottom: var(--spacing-md);
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  pointer-events: none;
  .toast-container {
    display: flex;
    align-items: center;
    background-color: var(--neutral-800);
    border-radius: 50px;
    box-shadow: var(--shadow-4);
    padding: 10px 12px 10px 20px;
    min-width: 280px;
    max-width: 400px;
    pointer-events: auto;
    animation: toast-slide-up 0.2s ease-out;
    .toast-message {
      flex: 1;
      font: var(--sm);
      color: var(--neutral-100);
    }
    .toast-close {
      margin-left: var(--spacing-sm);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      border-radius: 50px;
      svg.lucide {
        width: 16px;
        height: 16px;
        line,
        circle,
        rect,
        path {
          stroke-width: 2.5;
          stroke: var(--neutral-100);
        }
      }
      &:hover {
        background-color: var(--neutral-100);
        svg.lucide {
          line,
          circle,
          rect,
          path {
            stroke: var(--neutral-900);
          }
        }
      }
    }
  }
}
@keyframes toast-slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 640px) {
  .toast-root {
    bottom: 40px;
    left: 10px;
    right: 10px;
    transform: none;
    .toast-container {
      min-width: auto;
      max-width: none;
      width: 100%;
    }
  }
}

/* commons/components/Input.css */
.input-container {
  margin-top: var(--spacing-md);
  input,
  textarea {
    height: 44px;
    border-radius: 4px;
    border: 1px solid var(--neutral-200);
    background-color: var(--bg-primary);
    color: var(--text-primary);
    padding: 8px;
    margin-top: var(--spacing-xs);
    min-width: 320px;
    outline: none;
    transition: border-color 200ms;
    &:focus {
      border-color: var(--neutral-600);
    }
    &.error {
      border: 1px solid var(--red-600);
      color: var(--neutral-900);
      &:focus {
        border-color: var(--red-700);
      }
    }
  }
  textarea {
    width: 100%;
    height: 300px;
    font: var(--sm);
    font-family: monospace;
    resize: none;
    tab-size: 4;
    field-sizing: content;
  }
  .hint {
    color: var(--neutral-400);
    font: var(--sm);
  }
  .error {
    color: var(--red-600);
    font: var(--sm);
  }
}
.form-field-container {
  margin-top: var(--spacing-md);
  label {
    font-weight: 600;
  }
}

/* features/tags/TagDetailModal.css */
.focus-dialog,
.tag-dialog {
  width: 600px;
  .notes-editor-tags-input {
    display: inline-block;
  }
}

/* features/focus/FocusDetailsModal.css */
.focus-dialog,
.tag-dialog {
  width: 600px;
  .notes-editor-tags-input {
    display: inline-block;
  }
}

/* features/search/SearchMenu.css */
.search-modal {
  width: 600px;
  margin: auto;
  margin-top: 20vh;
  .search-input-container {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin: 8px;
    input {
      border: 0;
      outline: 0;
      width: 100%;
      height: 40px;
      padding-left: 10px;
      background-color: var(--bg-primary);
      color: var(--text-primary);
    }
  }
  svg.lucide {
    padding: 8px;
  }
  .search-results-container {
    max-height: 400px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .search-result-item {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: inherit;
      padding: 10px;
      border-top: 1px solid var(--neutral-100);
      cursor: pointer;
      transition: background-color 0.5s;
      &:hover,
      &.is-selected {
        background-color: var(--neutral-100);
      }
      .search-result-item-content {
        padding-left: 10px;
        .title {
          font-weight: 600;
        }
        .subtitle {
          font: var(--sm);
          max-width: 500px;
          overflow: hidden;
          height: 20px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
@media screen and (max-width: 948px) {
  .search-modal {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
    .search-results-container {
      max-height: 90vh;
      .search-result-item {
        .search-result-item-content {
          .subtitle {
            width: 300px;
          }
        }
      }
    }
  }
}

/* features/settings/SettingsModal.css */
.settings-modal {
  width: 800px;
  max-height: 600px;
  overflow: hidden;
  .settings-content {
    display: flex;
    height: 500px;
  }
  .settings-sidebar {
    width: 200px;
    background-color: var(--bg-secondary);
    border-right: 1px solid var(--neutral-100);
    padding: 8px 0;
    .settings-tab {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0 8px;
      text-decoration: none;
      color: var(--neutral-500);
      transition-property: color, stroke;
      transition-duration: 500ms;
      &:hover,
      &.is-active {
        color: var(--neutral-900);
        svg.lucide {
          circle,
          rect,
          path {
            stroke: var(--neutral-900);
          }
        }
      }
      svg.lucide {
        padding: 8px;
      }
    }
  }
  .settings-main {
    flex: 1;
    padding: 12px 24px;
    overflow-y: auto;
    .settings-tab-content {
      h3 {
        margin-bottom: 8px;
      }
      p {
        margin-bottom: 12px;
        color: var(--text-secondary);
        font: var(--sm);
      }
      .file-upload-container {
        margin-bottom: 16px;
        input[type=file] {
          display: none;
        }
        .file-upload-label {
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 12px 16px;
          border: 1px dashed var(--neutral-300);
          border-radius: 4px;
          color: var(--neutral-400);
          cursor: pointer;
          transition-property: color, background-color;
          transition-duration: 500ms;
          font: var(--sm);
          min-height: 100px;
          justify-content: center;
          &:hover {
            background-color: var(--neutral-50);
            border-color: var(--neutral-400);
          }
          &.disabled {
            cursor: not-allowed;
          }
          svg {
            width: 16px;
            height: 16px;
          }
        }
        .upload-progress {
          margin-top: 16px;
          .upload-progress-text {
            font: var(--sm);
            color: var(--text-secondary);
            margin-bottom: 8px;
          }
          .upload-progress-bar {
            width: 100%;
            height: 8px;
            background-color: var(--neutral-200);
            box-shadow: inset var(--shadow-4);
            border-radius: 4px;
            overflow: hidden;
            .upload-progress-fill {
              height: 100%;
              border-radius: 4px;
              background-color: var(--neutral-700);
              transition: width 0.3s ease;
            }
          }
        }
        .upload-summary {
          margin-top: 16px;
          h4 {
            margin-bottom: 4px;
          }
          .upload-summary-message {
            margin-bottom: 16px;
            a {
              display: inline;
              font: var(--sm);
              color: var(--text-primary);
              text-decoration: none;
            }
          }
          .upload-summary-section {
            h5 {
              margin-bottom: 8px;
              display: flex;
              align-items: center;
              gap: 4px;
              svg {
                width: 16px;
                height: 16px;
                line,
                circle,
                rect,
                path {
                  stroke-width: 2.5;
                }
              }
            }
            &.uploaded {
              h5 {
                color: var(--green-500);
                svg {
                  line,
                  circle,
                  rect,
                  path {
                    stroke: var(--green-500);
                  }
                }
              }
            }
            &.skipped {
              h5 {
                color: var(--yellow-500);
                svg {
                  line,
                  circle,
                  rect,
                  path {
                    stroke: var(--yellow-500);
                  }
                }
              }
            }
            &.errored {
              h5 {
                color: var(--red-500);
                svg {
                  line,
                  circle,
                  rect,
                  path {
                    stroke: var(--red-500);
                  }
                }
              }
            }
            .file-list {
              padding: 0;
              margin-bottom: 8px;
              color: var(--text-secondary);
              font: var(--code);
              .file-item {
                list-style: none;
              }
            }
          }
        }
      }
      .theme-selector {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        gap: 16px;
        margin-top: 16px;
        .theme-option {
          cursor: pointer;
          border: 1px solid var(--neutral-200);
          border-radius: 8px;
          padding: 12px;
          transition: all 0.2s ease;
          &:hover {
            border-color: var(--neutral-300);
          }
          &.is-selected {
            border-color: var(--neutral-600);
          }
          .theme-preview {
            position: relative;
            width: 100%;
            height: auto;
            overflow: hidden;
            margin-bottom: 16px;
            background: var(--bg-primary);
            svg {
              width: 100%;
              height: auto;
              display: block;
            }
            .system-theme-preview {
              display: flex;
              position: relative;
              .system-theme-half {
                flex: 1;
                overflow: hidden;
                &:first-child {
                  clip-path: polygon(0 0, 100% 0, 0 100%);
                }
                &:last-child {
                  margin-left: -100%;
                  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
                }
              }
            }
          }
          .theme-info {
            .theme-name {
              font: var(--sm);
              font-weight: 600;
              color: var(--text-primary);
            }
          }
        }
      }
    }
  }
}

/* commons/components/Sidebar.css */
.sidebar-backdrop-container {
  display: none;
}
.sidebar-container {
  min-width: 220px;
  padding: 14px 0;
  background-color: var(--bg-secondary);
  height: 100%;
  display: flex;
  flex-direction: column;
  .sidebar-fixed {
    flex-shrink: 0;
  }
  .sidebar-scrollable {
    flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .sidebar-focus-switcher {
    padding: 8px;
    padding-top: 0;
  }
  .sidebar-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 8px;
    text-decoration: none;
    color: var(--neutral-500);
    transition: color 500ms, stroke 500ms;
    &:hover,
    &.is-active {
      color: var(--neutral-900);
      svg.lucide {
        circle,
        rect,
        path {
          stroke: var(--neutral-900);
        }
      }
    }
    svg.lucide {
      padding: 8px;
    }
  }
  .sidebar-section {
    cursor: pointer;
    padding: 0 8px;
    margin-top: 24px;
    margin-left: 8px;
    .sidebar-section-title {
      font: var(--sm);
      color: var(--neutral-500);
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 4px;
    }
    a.sidebar-tag-link {
      display: flex;
      justify-content: space-between;
      padding: 4px 0;
      cursor: pointer;
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      color: var(--neutral-400);
      transition: color 500ms;
      &:hover,
      &.is-active {
        color: var(--neutral-600);
      }
      &:hover {
        svg.lucide {
          display: block;
        }
      }
      svg.lucide {
        display: none;
        width: 20px;
        height: 20px;
        padding: 4px;
        transition: background-color 500ms;
        line,
        circle,
        rect,
        path {
          stroke: var(--neutral-600);
        }
        &:hover {
          background-color: var(--neutral-200);
          border-radius: 4px;
        }
      }
    }
  }
}
@media screen and (max-width: 948px) {
  .sidebar-backdrop-container {
    background-color: none;
    transition: background-color 300ms ease-in-out;
    &.is-open {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      backdrop-filter: blur(2px);
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  .sidebar-container {
    display: flex;
    opacity: 0;
    width: 0;
    z-index: 3;
    transform: translateX(-100%);
    transition: transform 300ms ease-in-out, opacity 100ms ease-in-out;
    &.is-open {
      width: 80vw;
      transform: translateX(0);
      opacity: 1;
      .sidebar-focus-switcher {
        .dropdown-button {
          height: 48px;
        }
        .dropdown-container {
          max-width: 100%;
          .dropdown-option {
            height: 48px;
            &:hover,
            &.is-selected {
              svg.lucide {
                display: none;
              }
            }
          }
        }
      }
      .sidebar-button {
        padding: 2px 8px;
        &.new,
        &.search,
        &.settings {
          display: none;
        }
      }
      .sidebar-section {
        margin-bottom: calc(var(--mobile-navbar-height) + var(--safe-area-bottom));
        a.sidebar-tag-link {
          font: var(--p1);
          padding: 8px 0;
          &:hover {
            svg.lucide {
              display: none;
            }
          }
        }
      }
    }
  }
}

/* features/notes/NotesListToolbar.css */
.notes-list-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  margin: 6px 12px 0 4px;
  .button-group {
    display: flex;
  }
  .is-mobile {
    display: none;
  }
  svg.lucide {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 8px;
    margin-right: 0;
    transition-property: stroke;
    transition-duration: 500ms;
    &:hover {
      rect,
      path {
        stroke: var(--neutral-900);
      }
    }
  }
}
@media screen and (max-width: 948px) {
  .notes-list-toolbar {
    .is-mobile {
      display: flex;
    }
  }
}

/* commons/components/Spinner.css */
.spinner {
  height: 24px;
  width: 24px;
  border: 2px solid var(--neutral-300);
  border-top-color: var(--neutral-500);
  border-radius: 20px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-container {
  display: flex;
  margin: auto;
}

/* features/notes/ImageGallery.css */
.notes-gallery {
  margin-left: 12px;
  .image-gallery {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    .image-gallery-item {
      position: absolute;
      margin: 0;
      box-sizing: border-box;
      object-fit: cover;
      border-radius: 4px;
      transition-property: box-shadow, opacity;
      transition-duration: 500ms;
      box-shadow: var(--shadow-2);
      opacity: 0;
      cursor: pointer;
      &.loaded {
        opacity: 1;
      }
      &:hover {
        box-shadow: var(--shadow-4);
      }
    }
    .image-gallery-empty-text {
      font: var(--sm);
      padding: 16px;
      color: var(--neutral-400);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 64px;
    }
  }
}
.lightbox {
  max-width: 95vw;
  max-height: 95vh;
  overflow: hidden;
  background-color: transparent;
  border: none;
  box-shadow: none;
  animation-duration: 0.1s;
  .lightbox-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .lightbox-image {
      max-width: 95vw;
      max-height: 95vh;
      width: auto;
      height: auto;
      object-fit: contain;
      border-radius: 4px;
    }
  }
}

/* features/notes/NoteDeleteModal.css */
.note-delete-modal {
  width: 400px;
}

/* commons/components/DropdownMenu.css */
.ghost-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 4px 10px;
  font: var(--sm);
  font-weight: 600;
  transition: background-color 500ms;
  &:hover {
    background-color: var(--neutral-100);
  }
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
.dropdown-container {
  position: relative;
  max-width: 200px;
  .dropdown-button {
    min-width: 160px;
  }
  .dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    top: 4px;
    position: absolute;
    min-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    display: none;
    background-color: var(--bg-primary);
    z-index: 1;
    max-height: 198px;
    overflow: scroll;
    border-radius: 4px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .dropdown-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    height: 36px;
    border: 1px solid var(--neutral-100);
    border-bottom: none;
    white-space: nowrap;
    overflow: hidden;
    background: var(--bg-primary);
    font: var(--sm);
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 500ms;
    &:hover,
    &.is-selected {
      background-color: var(--bg-secondary);
      svg.lucide {
        display: block;
      }
    }
    svg.lucide {
      display: none;
      width: 20px;
      height: 20px;
      padding: 4px;
      margin-right: 8px;
      transition: background-color 500ms;
      line,
      circle,
      rect,
      path {
        stroke: var(--neutral-600);
      }
      &:hover {
        background-color: var(--neutral-200);
        border-radius: 4px;
      }
    }
  }
  &.open {
    .dropdown-menu {
      display: block;
      animation: dropdown-fade-in 0.15s ease-out;
    }
    .dropdown-button {
      border-radius: 6px 6px 0 0;
    }
  }
}
@keyframes dropdown-fade-in {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* features/notes/NotesEditor.css */
.notes-editor-container {
  flex: 1;
  padding: 24px;
  padding-top: 0;
  border-left: 1px solid var(--neutral-100);
  transition-property: opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  opacity: 1;
  transform: translateY(0);
  overflow-y: auto;
  word-wrap: break-word;
  max-height: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
  &.is-hidden {
    opacity: 0;
    padding: 0;
    transform: translateY(10px);
  }
  &.is-expanded {
    position: absolute;
    background: var(--bg-primary);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .notes-editor-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    position: sticky;
    width: 100%;
    top: 0;
    background: var(--bg-primary);
    z-index: 1;
    .right-toolbar,
    .left-toolbar {
      display: flex;
      flex-direction: row-reverse;
    }
    .left-toolbar {
      margin-left: -12px;
    }
    svg.lucide {
      cursor: pointer;
      width: 20px;
      height: 20px;
      margin-right: 0;
      transition-property: stroke;
      transition-duration: 500ms;
      &:hover {
        rect,
        path {
          stroke: var(--neutral-900);
        }
      }
      &.notes-editor-toolbar-button-hide {
        width: 24px;
        height: 24px;
      }
    }
  }
}
@media screen and (max-width: 948px) {
  .notes-editor-container {
    &[data-page=editor] {
      width: 100%;
      height: calc(100% - (var(--mobile-navbar-height) + var(--safe-area-bottom)));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: calc(var(--mobile-navbar-height) + var(--safe-area-bottom));
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
    &:not([data-page=editor]) {
      display: none;
    }
  }
}
.notes-editor {
  outline: none;
  &.is-editable {
    .notes-editor-image-dropzone {
      display: block;
      border: 1px dashed var(--neutral-300);
      padding: 16px;
      margin: 8px 0;
      border-radius: 4px;
      text-align: left;
      font-weight: 500;
      color: var(--neutral-400);
      font-size: 14px;
      cursor: pointer;
      transition-property: background-color, border-color;
      transition-duration: 500ms;
      &:hover {
        background-color: var(--neutral-50);
        border-color: var(--neutral-400);
      }
      &.dragover {
        background-color: var(--neutral-50);
      }
    }
    .notes-editor-image-attachment-preview {
      display: flex;
      overflow-x: auto;
      img {
        max-height: 200px;
        box-shadow: var(--shadow-2);
        box-sizing: border-box;
        object-fit: cover;
        margin: 16px 16px 16px 0;
        border-radius: 4px;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .notes-editor-textarea {
      display: block;
      border: 1px solid var(--neutral-200);
      background-color: var(--bg-primary);
      color: var(--text-primary);
      padding: 16px;
      border-radius: 4px;
    }
    .notes-editor-rendered {
      display: none;
    }
    .notes-editor-empty-text {
      display: none;
    }
  }
  .notes-editor-empty-text {
    font: var(--sm);
    padding: 16px;
    color: var(--neutral-400);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
  }
}
.notes-editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.notes-editor-title {
  font: var(--h1);
  &[contenteditable=true] {
    outline: none;
    border-bottom: 1px solid var(--neutral-200);
    padding-bottom: 4px;
    width: 100%;
    margin-right: 16px;
  }
}
.notes-editor-tags {
  margin-bottom: 16px;
}
.notes-editor-tags-input {
  padding: 2px 8px;
  outline: none;
  font-weight: 500;
  color: var(--neutral-400);
  font-size: 14px;
  border: 1px dashed var(--neutral-300);
  background-color: var(--bg-primary);
  border-radius: 4px;
  width: 100px;
}
.notes-editor-image-dropzone,
.notes-editor-image-attachment-preview {
  display: none;
}
.notes-editor-textarea {
  font-family: var(--font-family-code);
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  padding-right: 10px;
  display: none;
}
.notes-grid-item-content,
.notes-editor-rendered {
  display: block;
  overflow-x: auto;
  strong {
    font-weight: 600;
  }
  em {
    font-style: italic;
  }
  h1 {
    font: var(--h2);
    margin-bottom: 24px;
  }
  h2 {
    font: var(--h3);
  }
  h3 {
    font: var(--h5);
  }
  h4,
  h5,
  h6 {
    font: var(--h6);
  }
  p,
  blockquote,
  ul,
  ol,
  li,
  table {
    font: var(--p1);
    padding: 3px 0;
  }
  a {
    color: var(--neutral-500);
    text-decoration: none;
    border-bottom: 1px dashed var(--neutral-500);
  }
  img {
    width: auto;
    max-width: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 3px 0;
    margin-top: 24px;
    margin-bottom: 4px;
    font-weight: 600;
  }
  code {
    font: var(--code);
    background-color: var(--neutral-50);
    border-radius: 4px;
    padding: 4px 8px;
  }
  pre {
    margin: 4px 0;
    padding: 12px;
    background-color: var(--neutral-50);
    border-radius: 4px;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    code {
      background-color: unset;
      border-radius: 0;
      padding: 0;
    }
    * {
      font: var(--code);
    }
  }
  blockquote {
    border-left: 3px solid var(--neutral-700);
    padding-left: 10px;
    margin: 10px 4px;
  }
  ul,
  ol {
    padding-left: 20px;
  }
  ul > li > ul,
  ol > li > ul {
    padding-top: 0;
    padding-bottom: 0;
  }
  li > ul > li,
  li > ol > li {
    padding-bottom: 0;
  }
  ul.contains-task-list,
  ol.contains-task-list {
    padding-left: 0;
  }
  li.task-list-item {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
  .task-list-item-checkbox {
    flex-shrink: 0;
    margin-top: 2px;
    cursor: pointer;
    color: var(--neutral-400);
    transition: color 0.2s ease;
    &:hover {
      color: var(--neutral-600);
      cursor: not-allowed;
    }
    &.checked {
      color: var(--neutral-700);
      &:hover {
        color: var(--neutral-600);
      }
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 24px 0;
  }
  table,
  th,
  td {
    border: 1px solid var(--neutral-200);
    padding: 5px 15px;
    width: max-content;
  }
  th {
    text-align: left;
  }
  hr {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 1px solid var(--neutral-100);
  }
  s {
    color: var(--neutral-400);
  }
  mark {
    background: var(--yellow-100);
    color: var(--text-primary);
    border-radius: 4px;
    padding: 2px;
  }
}
.formatting-toolbar {
  display: none;
  flex-wrap: wrap;
  gap: 8px;
  margin: 12px 0;
  border: 1px solid var(--neutral-300);
  border-radius: 4px;
  align-items: center;
  .notes-editor.is-editable & {
    display: flex;
  }
  .formatting-toolbar-group {
    display: flex;
    padding-right: 8px;
    &:last-child {
      border-right: none;
      padding-right: 0;
    }
    .formatting-button {
      background: none;
      border: none;
      border-radius: 4px;
      padding: 6px 8px;
      cursor: pointer;
      font-size: 12px;
      font-weight: 500;
      color: var(--text-primary);
      transition: all 0.2s ease;
      min-width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      margin: 4px;
      &:hover {
        background-color: var(--neutral-200);
      }
      &:active {
        background-color: var(--neutral-100);
        transform: translateY(0);
        box-shadow: none;
      }
      svg.lucide {
        width: 16px;
        height: 16px;
        stroke: currentColor;
      }
      strong,
      em,
      s,
      mark,
      code {
        font-size: 12px;
        font-weight: 600;
        margin: 0;
        padding: 0;
      }
      mark {
        background: var(--yellow-200);
        border-radius: 2px;
        padding: 1px 2px;
      }
      code {
        background: var(--neutral-100);
        border-radius: 2px;
        padding: 1px 2px;
        font-family: var(--font-family-code);
      }
    }
  }
}
@media screen and (max-width: 948px) {
  .formatting-toolbar {
    display: none;
    .notes-editor.is-editable & {
      display: none;
    }
  }
}

/* features/notes/NotesEditorModal.css */
.notes-editor-modal {
  width: 90vw;
  max-width: 1200px;
  height: 80vh;
  max-height: 800px;
  overflow: hidden;
  .modal-content {
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  .notes-editor {
    height: 100%;
    border: none;
    border-radius: 0;
    padding: 32px;
    padding-top: 0;
    overflow-y: auto;
  }
}

/* features/notes/NotesList.css */
.notes-list-container {
  width: 280px;
  transition-property: background-color;
  transition-duration: 500ms;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
  &.grid {
    width: 100%;
    background-color: var(--bg-secondary);
  }
  .notes-list-title {
    font: var(--h3);
    padding: 16px;
    font-weight: normal;
  }
  a.notes-list-item {
    display: block;
    padding: 16px;
    border-bottom: 1px solid var(--neutral-100);
    text-decoration: none;
    color: inherit;
    transition-property: background-color;
    transition-duration: 500ms;
    &:hover,
    &.is-active {
      background-color: var(--bg-secondary);
    }
    .notes-list-item-title {
      font-weight: 500;
      &.untitled {
        color: var(--neutral-300);
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .notes-list-item-subcontainer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      overflow: hidden;
      margin-top: 4px;
      .notes-list-item-subtext,
      .notes-list-item-tag {
        font: var(--sm);
        color: var(--neutral-400);
        align-content: end;
        white-space: nowrap;
      }
      .notes-list-item-tags {
        display: flex;
        gap: 4px;
        margin-right: 24px;
        width: 190px;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
  .notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    padding-top: 0;
    padding-left: 10px;
    &.board {
      display: block;
      position: relative;
      width: 100%;
      height: 100vh;
      padding: 0;
    }
    .notes-grid-item {
      position: relative;
      height: 500px;
      overflow: hidden;
      transition-property: box-shadow;
      transition-duration: 500ms;
      box-shadow: var(--shadow-2);
      border-radius: 8px;
      padding: 20px;
      border: 1px solid var(--neutral-100);
      background-color: var(--bg-primary);
      display: block;
      text-decoration: none;
      color: inherit;
      cursor: pointer;
      zoom: 0.6;
      .notes-grid-item-title {
        font: var(--h4);
        margin-bottom: 12px;
        &.untitled {
          color: var(--neutral-400);
        }
      }
      .notes-grid-item-content {
        overflow: hidden;
      }
      .notes-grid-item-gradient {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background:
          linear-gradient(
            180deg,
            transparent 50%,
            var(--bg-primary) 100%);
      }
      .notes-grid-item-tags {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        background:
          linear-gradient(
            180deg,
            transparent 0%,
            var(--bg-primary) 20%);
      }
      &.is-draggable {
        max-height: 300px;
        height: auto;
        display: inline-block;
        width: 200px;
        position: absolute;
        user-select: all;
        -webkit-user-select: all;
        -moz-user-select: all;
        -ms-user-select: all;
        cursor: move;
        transition: transform 0.1s;
        * {
          user-select: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          cursor: move;
          pointer-events: none;
        }
        &.is-dragging {
          opacity: 0.5;
        }
      }
      &:hover {
        box-shadow: var(--shadow-4);
      }
    }
  }
  .notes-list-load-more-button {
    font: var(--sm);
    color: var(--neutral-400);
    display: flex;
    justify-content: center;
    padding: 36px 0;
    cursor: pointer;
    transition: color 0.5s;
    &:hover {
      color: var(--neutral-600);
    }
  }
  .notes-list-empty-text {
    font: var(--sm);
    padding: 16px;
    color: var(--neutral-400);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
  }
  .notes-list-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
  }
}
@media screen and (max-width: 948px) {
  .notes-list-container,
  .notes-grid-container {
    &[data-page=notes] {
      width: 100%;
      height: calc(100% - (var(--mobile-navbar-height) + var(--safe-area-bottom)));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: calc(var(--mobile-navbar-height) + var(--safe-area-bottom));
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
    &:not([data-page=notes]) {
      display: none;
    }
  }
  .notes-list-container {
    .notes-grid {
      grid-template-columns: repeat(auto-fill, 100%);
    }
  }
}

/* commons/components/MobileNavbar.css */
.mobile-navbar-container {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(var(--mobile-navbar-height) + var(--safe-area-bottom));
  z-index: 2;
  background-color: var(--bg-primary);
  padding-bottom: var(--safe-area-bottom);
  .mobile-navbar {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    height: var(--mobile-navbar-height);
    background-color: var(--bg-primary);
    box-shadow: var(--shadow-6);
    .mobile-navbar-button {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--neutral-900);
      min-height: 44px;
      font: var(--sm);
      svg.lucide {
        padding: 8px;
        line,
        circle,
        rect,
        path {
          stroke-width: 2.5;
        }
      }
    }
  }
}
@media screen and (max-width: 948px) {
  .mobile-navbar-container {
    display: block;
  }
}

/* features/users/LoginPage.css */
.login-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  .login-title {
    font: var(--h5);
  }
  .login-subtitle {
    margin-top: 4px;
    color: var(--neutral-400);
  }
  .button {
    margin-top: 24px;
    align-self: flex-start;
  }
}

/* commons/components/OfflineIndicator.css */
.offline-indicator {
  position: fixed;
  top: 0;
  background: var(--red-500);
  color: white;
  text-align: center;
  font: var(--sm);
  z-index: 4;
  left: calc(50% - 75px);
  width: 150px;
  padding: 4px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
