/* 
 * References:
 * "The 80% of UI Design - Typography" https://www.youtube.com/watch?v=9-oefwZ6Z74
 * "Modular scale" https://design-system.economist.com/foundations/typography/modular-scale#type-scale
 * "Line-height" https://design-system.economist.com/foundations/typography/line-height#multipliers
 * "Responsive And Fluid Typography With vh And vw Units" https://www.smashingmagazine.com/2016/05/fluid-typography/
 */

:root {
    /* https://tailwindcss.com/docs/colors */
    /* https://gist.github.com/guvener/d8952570d5a8be430580b93800519439 */
    --neutral-50: #FAFAFA;
    --neutral-100: #F5F5F5;
    --neutral-200: #E5E5E5;
    --neutral-300: #D4D4D4;
    --neutral-400: #A3A3A3;
    --neutral-500: #737373;
    --neutral-600: #525252;
    --neutral-700: #404040;
    --neutral-800: #262626;
    --neutral-900: #171717;
    --red-600: #DC2626;

    /* typography */
    --font-scale: 1.125;
    /* Major Second */
    --font-family: ui-sans-serif, system-ui, sans-serif;
    --font-family-code: ui-monospace, monospace;
    --h1: bold 2.027rem/1.2 var(--font-family);
    /* 1rem * pow(var(--font-scale), 6) */
    --h2: bold 1.802rem/1.2 var(--font-family);
    /* 1rem * pow(var(--font-scale), 5) */
    --h3: bold 1.602rem/1.2 var(--font-family);
    /* 1rem * pow(var(--font-scale), 4) */
    --h4: bold 1.424rem/1.2 var(--font-family);
    /* 1rem * pow(var(--font-scale), 3) */
    --h5: bold 1.266rem/1.2 var(--font-family);
    /* 1rem * pow(var(--font-scale), 2) */
    --h6: bold 1.125rem/1.2 var(--font-family);
    /* 1rem * pow(var(--font-scale), 1) */
    --p1: normal 1rem/1.5 var(--font-family);
    /* https://m3.material.io/styles/typography/applying-type */
    --sm: normal 0.889rem/1.4 var(--font-family);
    /* 1rem / var(--font-scale) */
    --code: normal 0.889rem/1.4 var(--font-family-code);

    /* spacing */
    /* https://medium.com/dwarves-design/the-principle-of-spacing-in-ui-design-part-1-3354d0d65e51 */
    --spacing-xs: 6px;
    --spacing-sm: 12px;
    --spacing-md: 24px;
    --spacing-lg: 48px;

    /* elevation */
    --shadow-1: rgba(0, 0, 0, 0.01) 0px 1px 3px 0px, rgba(0, 0, 0, 0.10) 0px 1px 3px 0px;
    --shadow-2: rgba(0, 0, 0, 0.10) 0px 1px 3px 0px, rgba(0, 0, 0, 0.10) 0px 1px 3px 0px;
    --shadow-3: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    /* tailwind #37 https://getcssscan.com/css-box-shadow-examples */
    --shadow-4: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    /* tailwind #38 https://getcssscan.com/css-box-shadow-examples */
    --shadow-5: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    /* tailwind #40 https://getcssscan.com/css-box-shadow-examples */
    --shadow-6: rgba(0, 0, 0, 0.1) 0px -10px 15px -3px;

    /* globals */
    --mobile-navbar-height: 60px;
    --safe-area-bottom: env(safe-area-inset-bottom, 0px);
}

* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

html {
    font-size: 16px;
    /* 1rem */
    height: 100%;
    overflow: hidden;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

body {
    display: flex;
    font: var(--p1);
    color: #444;
    /* https://uxmovement.com/content/why-you-should-never-use-pure-black-for-text-or-backgrounds/ */
    position: relative;
    /* for floating editor */
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.page-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media screen and (max-width: 948px) {
    .sidebar-container {
        display: none;
    }

    .notes-list-container,
    .notes-grid-container {
        &[data-page="notes"] {
            width: 100%;
            height: calc(100% - (var(--mobile-navbar-height) + var(--safe-area-bottom)));
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: calc(var(--mobile-navbar-height) + var(--safe-area-bottom));
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        &:not([data-page="notes"]) {
            display: none;
        }
    }

    .notes-editor-container {
        &[data-page="editor"] {
            width: 100%;
            height: calc(100% - (var(--mobile-navbar-height) + var(--safe-area-bottom)));
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: calc(var(--mobile-navbar-height) + var(--safe-area-bottom));
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        &:not([data-page="editor"]) {
            display: none;
        }
    }
}

.sidebar-container {
    width: 220px;
    padding: 14px 0;
    background-color: var(--neutral-50);

    .sidebar-focus-switcher {
        padding: 8px;
        padding-top: 0;
    }

    .sidebar-button {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0 8px;
        text-decoration: none;
        color: var(--neutral-500);
        transition-property: color, stroke;
        transition-duration: 500ms;

        &:hover {
            color: var(--neutral-900);

            svg.lucide {
                circle,
                rect,
                path {
                    stroke: var(--neutral-900);
                }
            }
        }

        svg.lucide {
            width: 36px;
            height: 36px;
            padding: 8px;

            circle,
            rect,
            path {
                stroke: var(--neutral-500);
                stroke-width: 2;
            }
        }
    }

    .sidebar-section {
        cursor: pointer;
        padding: 0 8px;
        margin-top: 24px;
        margin-left: 8px;

        .sidebar-section-title {
            font: var(--sm);
            color: var(--neutral-500);
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 4px;
        }

        a {
            display: flex;
            padding: 4px 0;
            cursor: pointer;
            text-decoration: none;
            font-size: 14px;
            font-weight: 500;
            color: var(--neutral-400);
            transition-property: color;
            transition-duration: 500ms;

            &:hover {
                color: var(--neutral-600);
            }
        }
    }
}

.mobile-navbar-container {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(var(--mobile-navbar-height) + var(--safe-area-bottom));
    z-index: 2;
    background-color: transparent;
    padding-bottom: var(--safe-area-bottom);

    .mobile-navbar {
        display: flex;
        justify-content: space-around;
        padding: 8px;
        height: var(--mobile-navbar-height);
        background-color: #fff;
        box-shadow: var(--shadow-6);

        .mobile-navbar-button {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--neutral-900);
            min-height: 44px;

            svg.lucide {
                width: 36px;
                height: 36px;
                padding: 8px;

                circle,
                rect,
                path {
                    stroke: var(--neutral-500);
                    stroke-width: 2.5;
                }
            }
        }
    }
}

@media screen and (max-width: 948px) {
    .mobile-navbar-container {
        display: block;
    }
}

.notes-list-toolbar {
    display: flex;
    padding: 8px;
    margin-top: 6px;
    margin-left: 4px;

    svg.lucide {
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin: 8px;
        margin-right: 0;
        transition-property: stroke;
        transition-duration: 500ms;

        circle,
        rect,
        path {
            stroke: var(--neutral-500);
            stroke-width: 2;
        }

        &:hover {

            rect,
            path {
                stroke: var(--neutral-900);
            }
        }
    }
}

.notes-list-container {
    width: 280px;
    transition-property: background-color;
    transition-duration: 500ms;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 100%;

    &::-webkit-scrollbar {
        display: none;
    }

    &.grid {
        width: 100%;
        background-color: var(--neutral-50);
    }

    .notes-list-title {
        font: var(--h3);
        padding: 16px;
        font-weight: normal;
    }

    .notes-list-item {
        transition-property: background-color;
        transition-duration: 500ms;

        &:hover {
            background-color: var(--neutral-50);
        }

        a {
            display: block;
            padding: 16px;
            border-bottom: 1px solid var(--neutral-100);
            text-decoration: none;
            color: inherit;

            .notes-list-item-title {
                font-weight: 500;

                &.untitled {
                    color: var(--neutral-400);
                }
            }

            .notes-list-item-subcontainer {
                display: flex;
                justify-content: space-between;
                width: 100%;
                overflow: hidden;
                margin-top: 4px;

                .notes-list-item-subtext {
                    font: var(--sm);
                    color: var(--neutral-400);
                    align-content: end;
                }

                .notes-list-item-tags {
                    display: flex;
                    gap: 4px;
                    margin-left: 8px;
                }
            }
        }
    }

    .notes-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
        padding: 20px;
        padding-top: 0;

        &.board {
            display: block;
            position: relative;
            width: 100%;
            height: 100vh;
            padding: 0;
        }

        .notes-grid-item {
            height: 300px;
            overflow: hidden;
            transition-property: box-shadow;
            transition-duration: 500ms;
            box-shadow: var(--shadow-3);
            border-radius: 4px;
            padding: 8px;
            border: 1px solid var(--neutral-100);
            background-color: #fff;

            &.is-draggable {
                max-height: 300px;
                height: auto;
                display: inline-block;
                width: 200px;
                position: absolute;
                user-select: all;
                -webkit-user-select: all;
                -moz-user-select: all;
                -ms-user-select: all;
                cursor: move;
                transition: transform 0.1s;

                * {
                    user-select: none;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    cursor: move;
                    pointer-events: none;
                }

                &.is-dragging {
                    opacity: 0.5;
                }
            }

            &:hover {
                box-shadow: var(--shadow-4);
            }

            a {
                display: block;
                text-decoration: none;
                color: inherit;
                zoom: 0.7;

                .notes-grid-item-title {
                    font: var(--h4);

                    &.untitled {
                        color: var(--neutral-400);
                    }
                }
            }
        }
    }

    .notes-list-empty-text {
        font: var(--sm);
        padding: 16px;
        color: var(--neutral-400);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 64px;
    }
}

.notes-editor-container {
    flex: 1;
    padding: 24px;
    border-left: 1px solid var(--neutral-100);
    transition-property: opacity, transform;
    transition-duration: 300ms;
    opacity: 1;
    transform: translateX(0);
    overflow-y: auto;
    max-height: 100%;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }

    &.is-floating {
        position: absolute;
        background-color: #fff;
        top: 10px;
        right: 10px;
        bottom: 10px;
        width: 600px;
        overflow-y: auto;
        border: 1px solid var(--neutral-100);
        box-shadow: var(--shadow-4);
    }

    &.is-hidden {
        opacity: 0;
        padding: 0;
        transform: translateX(100%);
    }

    .notes-editor-toolbar {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        svg.lucide {
            cursor: pointer;
            width: 20px;
            height: 20px;
            margin: 8px;
            margin-right: 0;
            transition-property: stroke;
            transition-duration: 500ms;

            circle,
            rect,
            path {
                stroke: var(--neutral-500);
                stroke-width: 2;
            }

            &:hover {

                rect,
                path {
                    stroke: var(--neutral-900);
                }
            }

            &.notes-editor-toolbar-button-hide {
                width: 24px;
                height: 24px;
            }
        }
    }
}


.button-container {
    display: flex;
    position: relative;
    padding: 0;
    border: 0;
    background: none;
}

.button {
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    border-radius: 6px;
    border: 1px solid var(--neutral-200);
    overflow: hidden;
    font: var(--sm);
    font-weight: 600;
    transition-property: background-color, box-shadow;
    transition-duration: 500ms;
    text-decoration: none;
    box-shadow: var(--shadow-1);
    background-color: #fff;

    &:hover {
        background-color: var(--neutral-100);
        cursor: pointer;
    }

    svg.lucide {
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin: 8px;
        margin-right: 0;
        transition-property: stroke;
        transition-duration: 500ms;

        circle,
        rect,
        path {
            stroke: var(--neutral-500);
            stroke-width: 2;
        }

        &:hover {

            rect,
            path {
                stroke: var(--neutral-900);
            }
        }
    }

    &:active {
        box-shadow: none;
    }

    &.primary {
        background-color: var(--neutral-900);
        color: white;

        svg.icon {
            path {
                stroke: white;
            }
        }

        &:hover {
            background-color: var(--neutral-400);
        }
    }

    a {
        height: 34px;
        line-height: 1;
    }
}

.ghost-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 4px 10px;
    font: var(--sm);
    font-weight: 600;
    transition: background-color 0.5s;

    &:hover {
        background-color: var(--neutral-100);
    }
}

.dropdown-container {
    position: relative;
    max-width: 200px;

    .dropdown-button {
        min-width: 160px;
    }

    .dropdown-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        top: 4px;
        position: absolute;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        display: none;
        background-color: white;
        z-index: 1;
        max-height: 198px;
        /* 5.5 items * 36px of option height */
        overflow: scroll;
        border-radius: 4px;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .dropdown-option {
        font: var(--sm);
        padding-left: 12px;
        height: 36px;
        display: flex;
        align-items: center;
        border: 1px solid var(--neutral-100);
        border-bottom: none;
        white-space: nowrap;
        overflow: hidden;
        background: white;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
        transition-property: background-color;
        transition-duration: 500ms;

        &:hover,
        &.is-selected {
            background-color: var(--neutral-50);
        }
    }

    &.open {
        .dropdown-menu {
            display: block;
        }

        .dropdown-button {
            border-radius: 6px 6px 0 0;
        }
    }
}

.tag {
    display: inline-flex;
    align-items: center;
    background-color: var(--neutral-100);
    padding: 4px 8px;
    margin-right: 4px;
    border-radius: 4px;
    font-weight: 500;
    color: var(--neutral-400);
    font-size: 14px;
    transition-property: background-color;
    transition-duration: 500ms;

    svg {
        height: 14px;
        width: 14px;
        margin-left: 4px;
        display: none;
    }
}

.input-container {
    margin-top: var(--spacing-md);

    input,
    textarea {
        height: 44px;
        border-radius: 4px;
        border: 1px solid var(--neutral-200);
        padding: 8px;
        margin-top: var(--spacing-xs);
        min-width: 320px;
        outline: none;

        &.error {
            border: 1px solid var(--red-600);
            color: var(--neutral-900);
        }
    }

    textarea {
        width: 100%;
        height: 300px;
        font: var(--sm);
        font-family: monospace;
        resize: none;
        tab-size: 4;
        field-sizing: content;
        /* https://developer.mozilla.org/en-US/docs/Web/CSS/field-sizing#browser_compatibility */
    }

    .hint {
        color: var(--neutral-400);
        font: var(--sm);
    }

    .error {
        color: var(--red-600);
        font: var(--sm);
    }
}

.modal-backdrop-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.8);

    &.is-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.modal-content-container {
    background-color: #fff;
    border: 1px solid var(--neutral-100);
    border-radius: 4px;
    box-shadow: var(--shadow-5);

    .modal-title {
        font-weight: 600;
    }

    .modal-content {
        padding: 16px;
    }
}

.model-footer-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    padding: 16px;
    background-color: var(--neutral-50);

    .button {
        margin-left: 8px;
    }
}

.focus-dialog {
    height: 400px;
    width: 600px;

    .notes-editor-tags-input {
        display: inline-block;
    }
}

.note-delete-modal {
    width: 400px;
}

.search-modal {
    width: 600px;
    margin: auto;
    margin-top: 20vh;

    .search-input-container {
        display: flex;
        align-items: center;
        padding-left: 10px;

        input {
            border: 0;
            outline: 0;
            width: 100%;
            height: 40px;
            padding-left: 10px;
        }
    }

    svg {
        width: 36px;
        height: 36px;
        padding: 8px;

        circle,
        rect,
        path {
            stroke: var(--neutral-500);
            stroke-width: 2;
        }
    }

    .search-result-item {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        padding: 10px;
        border-top: 1px solid var(--neutral-100);
        cursor: pointer;
        transition: background-color 0.5s;

        &:hover,
        &.is-selected {
            background-color: var(--neutral-100);
        }

        .search-result-item-content {
            padding-left: 10px;

            .title {
                font-weight: 600;
            }
            
            .subtitle {
                font: var(--sm);
                max-width: 500px;
                overflow: hidden;
                height: 20px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}